{% extends 'base.html' %}
<!---->
{% block search %}

{% endblock %}
<!---->
{% block basebody %}
<div class="col-6">
    <div class="card top-selling overflow-auto">
  
      <div class="card-body pb-0">
        <h5 class="card-title">friendship Request | <span class="badge bg-primary text-white badge-number fw-bold">{{ friendme|length }}</span></h5>
  
        <table class="table table-borderless">
          <tbody>
            {% for fp in friendme %}
            <tr>
              <th scope="row">
                <a href="{{ url_for('profile.public', username=fp.username) }}" class="text-primary">
                  <img src="{{ url_for('profile.upload', filename=fp.img) }}" alt="img" class="rounded-circle" width="35em"> {{ fp.username }}
                </a>
              </th>
              <td><a href="{{ url_for('news.friendresp', sender_id=fp._id, resp='accept') }}">accept</a></td>
              <td><a href="{{ url_for('news.friendresp', sender_id=fp._id, resp='reject') }}">reject</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div><!-- End Top Selling -->

<div class="col-6">
    <div class="card top-selling overflow-auto">
  
      <div class="card-body pb-0">
        <h5 class="card-title">friend suggestions | <span class="badge bg-primary text-white badge-number fw-bold">{{ sugg|length }}</span></h5>
  
        <table class="table table-borderless">
          <tbody>
            {% for fp in sugg %}
            <tr>
              <th scope="row">
                <a href="{{ url_for('profile.public', username=fp.username) }}" class="text-primary">
                  <img src="{{ url_for('profile.upload', filename=fp.img) }}" alt="img" class="rounded-circle" width="35em"> {{ fp.username }}
                </a>
              </th>
              <td style="text-align:end;">
                <form action="/sendfriends" method="post">
                  <input type="text" value="{{ fp.username }}" name="username" hidden>
                  <button class="btn btn-primary">send a friend request</button>
                </form><br>
              </td>
            </tr>
            <tr><td colspan="2"></td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  
</div><!-- End Top Selling -->
{% endblock %}
