{% extends 'base.html' %}
<!---->
{% block search %}

{% endblock %}
<!---->
{% block basebody %}
<div class="col-xl-4">

    <div class="card">
      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

        <img src="{{ url_for('profile.upload', filename=current_user.img) }}" alt="Profile" class="rounded-circle" width="150em"><br>
        <h3>{{ current_user.firstname }} {{ current_user.lastname }}</h3>
        <h4>{{ current_user.job }}</h4>
        <span>Joined at {{ current_user.joined }}</span>
        <div class="social-links mt-2">
          <a href="{{ current_user.twitter }}" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="{{ current_user.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="{{ current_user.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="{{ current_user.linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
          <a href="{{ current_user.github }}" class="github"><i class="bi bi-github"></i></a>
          <a href="{{  current_user.cv }}" class="file"><i class="bi  bi-file-earmark-person"></i></a>
          <a href="{{  current_user.website }}" class="globe"><i class="bi bi-globe"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xl-8">

    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">

          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
          </li>

          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
          </li>

          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
          </li>

          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
          </li>

        </ul>
        <div class="tab-content pt-2">

          <div class="tab-pane fade show active profile-overview" id="profile-overview">
            <h5 class="card-title">Bio</h5>
            <p class="small fst-italic">{{ current_user.bio }}</p>

            <h5 class="card-title">Profile Details</h5>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">Company</div>
              <div class="col-lg-9 col-md-8">{{ current_user.society }}</div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">professional status</div>
              <div class="col-lg-9 col-md-8">{{ current_user.status }}</div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">Country</div>
              <div class="col-lg-9 col-md-8">{{ current_user.country }}</div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">City</div>
              <div class="col-lg-9 col-md-8">{{ current_user.city }}</div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">Phone</div>
              <div class="col-lg-9 col-md-8">{{ current_user.phone }}</div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-4 label">Email</div>
              <div class="col-lg-9 col-md-8">{{ current_user.email }}</div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4 label">Obbies</div>
                <div class="col-lg-9 col-md-8">{{ current_user.obbies }}</div>
            </div>

          </div>

          <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

            <!-- Profile Edit Form -->
            <form action="/me/profil/update" method="post" enctype="multipart/form-data" >
              <div class="row mb-3">
                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                <div class="col-md-8 col-lg-9">
                  <div class="pt-2">
                    <input name="img" class="form-control" type="file" id="formFile">
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Username</label>
                <div class="col-md-8 col-lg-9">
                  <input name="username" type="text" class="form-control" id="fullName" value="{{ current_user.username }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                <div class="col-md-8 col-lg-9">
                  <input name="firstname" type="text" class="form-control" id="fullName" value="{{ current_user.firstname }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                <div class="col-md-8 col-lg-9">
                  <input name="lastname" type="text" class="form-control" id="fullName" value="{{ current_user.lastname }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="about" class="col-md-4 col-lg-3 col-form-label">Bio</label>
                <div class="col-md-8 col-lg-9">
                  <textarea name="bio" class="form-control" id="about" style="height: 100px">{{ current_user.bio }}</textarea>
                </div>
              </div>

              <div class="row mb-3">
                <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                <div class="col-md-8 col-lg-9">
                  <input name="email" type="email" class="form-control" id="Email" value="{{ current_user.email }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                <div class="col-md-8 col-lg-9">
                  <select class="form-select" aria-label="Default select example" name="country">
                    <option selected>Open this select country</option>
                    {% for ui in country %}
                    <option value="{{ ui }}">{{ ui }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="Country" class="col-md-4 col-lg-3 col-form-label">City</label>
                <div class="col-md-8 col-lg-9">
                  <input name="city" type="text" class="form-control" id="Country" value="{{ current_user.city }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                <div class="col-md-8 col-lg-9">
                  <input name="society" type="text" class="form-control" id="company" value="{{ current_user.society }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                <div class="col-md-8 col-lg-9">
                  <input name="job" type="text" class="form-control" id="Job" value="{{ current_user.job }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Job" class="col-md-4 col-lg-3 col-form-label">professional status</label>
                <div class="col-md-8 col-lg-9">
                  <input name="status" type="text" class="form-control" id="Job" value="{{ current_user.status }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                <div class="col-md-8 col-lg-9">
                  <input name="phone" type="text" class="form-control" id="Phone" value="{{ current_user.phone }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="about" class="col-md-4 col-lg-3 col-form-label">Obbies (separed value by coma (,))</label>
                <div class="col-md-8 col-lg-9">
                  <textarea name="obbies" class="form-control" id="about" style="height: 100px">{{ current_user.obbies }}</textarea>
                </div>
              </div>

              <div class="row mb-3">
                <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                <div class="col-md-8 col-lg-9">
                  <input name="twitter" type="text" class="form-control" id="Twitter" value="{{ current_user.twitter }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                <div class="col-md-8 col-lg-9">
                  <input name="facebook" type="text" class="form-control" id="Facebook" value="{{ current_user.facebook }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                <div class="col-md-8 col-lg-9">
                  <input name="instagram" type="text" class="form-control" id="Instagram" value="{{ current_user.instagram }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                <div class="col-md-8 col-lg-9">
                  <input name="linkedin" type="text" class="form-control" id="Linkedin" value="{{ current_user.linkedin }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Github Profile</label>
                <div class="col-md-8 col-lg-9">
                  <input name="github" type="text" class="form-control" id="Linkedin" value="{{ current_user.github }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">CV url</label>
                <div class="col-md-8 col-lg-9">
                  <input name="cv" type="text" class="form-control" id="Linkedin" value="{{ current_user.cv }}">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Website</label>
                <div class="col-md-8 col-lg-9">
                  <input name="website" type="text" class="form-control" id="Linkedin" value="{{ current_user.website }}">
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </form><!-- End Profile Edit Form -->

          </div>

          <div class="tab-pane fade pt-3" id="profile-settings">

            <!-- Settings Form -->
            <form>

              <div class="row mb-3">
                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                <div class="col-md-8 col-lg-9">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="changesMade" checked>
                    <label class="form-check-label" for="changesMade">
                      Changes made to your account
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="newProducts" checked>
                    <label class="form-check-label" for="newProducts">
                      Information on new products and services
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="proOffers">
                    <label class="form-check-label" for="proOffers">
                      Marketing and promo offers
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                    <label class="form-check-label" for="securityNotify">
                      Security alerts
                    </label>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </form><!-- End settings Form -->

          </div>

          <div class="tab-pane fade pt-3" id="profile-change-password">
            <!-- Change Password Form -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-danger">
                    {{ messages[0] }}
                  </div>
                {% endif %}
            {% endwith %}
            <form action="/me/pwd" method="post">

              <div class="row mb-3">
                <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                <div class="col-md-8 col-lg-9">
                  <input name="password" type="password" class="form-control" id="currentPassword">
                </div>
              </div>

              <div class="row mb-3">
                <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                <div class="col-md-8 col-lg-9">
                  <input name="newpassword" type="password" class="form-control" id="newPassword">
                </div>
              </div>

              <div class="row mb-3">
                <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                <div class="col-md-8 col-lg-9">
                  <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Change Password</button>
              </div>
            </form><!-- End Change Password Form -->

          </div>

        </div><!-- End Bordered Tabs -->

      </div>
    </div>

  </div>
{% endblock %}
