{% extends 'base.html' %}
<!---->
{% block search %}

{% endblock %}
<!---->
{% block basebody %}
<div class="col-lg-6 container justify-content-center">

  <div class="card">
    <div class="card-body">
      {% if setting.profilView == 'onlyme' and person._id != current_user._id %}
        <br><h3 class="container justify-content-center align-item-center">sorry this profile is private</h3><br>
      {% elif setting.profilView == 'friend' and person._id != current_user._id and not (current_user._id is friendEqTo(person.friends)) %}
        <h3 class="container justify-content-center align-item-center">sorry only these friends are allowed</h3><br>
      {% elif setting.profilView == 'their' and person._id != current_user._id and not (current_user._id is friendEqTo(person.friends)) and not (current_user._id is globalFriendEqTo(person.friends)) %}
      <br><h3 class="container justify-content-center align-item-center">sorry only these friends and their friends are allowed</h3><br>
      {% else %}
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{ url_for('profile.upload', filename=person.img) }}" alt="Profile" class="rounded-circle" width="150em"><br>
            {% if not setting.hideFullname and person.firstname|length > 1 and person.lastname|length > 1 %}
            <h3>{{ person.firstname }} {{ person.lastname }}</h3>
            {% endif %}
            {% if not setting.hideJob and person.job|length > 1 %}
            <h4>{{ person.job }}</h4>
            {% endif %}

            <span>Joined at {{ person.joined }}</span>
            <div class="container justify-content-start">
              {% if person.bio|length > 1 %}
              <h5 class="card-title">Bio</h5>
              <p class="small fst-italic">{{ person.bio }}</p>
              {% endif %}

              <h5 class="card-title">Profile Details</h5>

              {% if not setting.hideCompany and person.company|length > 1 %}
              <div class="row">
                <div class="col-lg-4 col-md-4 label fw-bold">Company</div>
                <div class="col-lg-8 col-md-8">{{ person.company }}</div>
              </div>
              {% endif %}

              {% if not setting.hideStatus and person.status|length > 1 %}
              <div class="row">
                <div class="col-lg-4 col-md-4 label fw-bold">professional status</div>
                <div class="col-lg-8 col-md-8">{{ person.status }}</div>
              </div>
              {% endif %}

              {% if not setting.hideCountry and person.country|length > 1 %}
              <div class="row">
                <div class="col-lg-4 col-md-4 label fw-bold">Country</div>
                <div class="col-lg-8 col-md-8">{{ person.country }}</div>
              </div>
              {% endif %}

              {% if not setting.hideCity and person.city|length > 1 %}
              <div class="row">
                <div class="col-lg-4 col-md-4 label fw-bold">City</div>
                <div class="col-lg-8 col-md-8">{{ person.city }}</div>
              </div>
              {% endif %}

              {% if not setting.hidePhone and person.phone|length > 1 %}
              <div class="row">
                <div class="col-lg-4 col-md-4 label fw-bold">Phone</div>
                <div class="col-lg-8 col-md-8">{{ person.phone }}</div>
              </div>
              {% endif %}

              {% if not setting.hideEmail and person.email|length > 1 %}
              <div class="row">
                <div class="col-lg-4 col-md-4 label fw-bold">Email</div>
                <div class="col-lg-8 col-md-8">{{ person.email }}</div>
              </div>
              {% endif %}

              {% if not setting.hideObbies and person.obbies|length > 1 %}
              <div class="row">
                <div class="col-lg-4 col-md-4 label fw-bold">Obbies</div>
                <div class="col-lg-8 col-md-8">{{ person.obbies }}</div>
              </div>
              {% endif %}
              <br><br>
            </div>

            {% if not setting.hideSocial %}
            <div class="social-links mt-2">
              {% if person.twitter|length > 1 %}
              <a href="{{ person.twitter }}" class="twitter"><i class="bi bi-twitter"></i></a>
              {% endif %}
              
              {% if person.faceook|length > 1 %}
              <a href="{{ person.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
              {% endif %}
              
              {% if person.instagram|length > 1 %}
              <a href="{{ person.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
              {% endif %}
              
              {% if person.linkedin|length > 1 %}
              <a href="{{ person.linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
              {% endif %}
              
              {% if person.github|length > 1 %}
              <a href="{{ person.github }}" class="github"><i class="bi bi-github"></i></a>
              {% endif %}
              
              {% if person.cv|length > 1 %}
              <a href="{{ person.cv }}" class="file"><i class="bi  bi-file-earmark-person"></i></a>
              {% endif %}
              
              {% if person.website|length > 1 %}
              <a href="{{ person.website }}" class="globe"><i class="bi bi-globe"></i></a>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <!-- ok good -->
      {% if current_user._id != person._id and current_user._id is friendEqTo(person.friends) %}
      <a class="btn btn-outline-primary col-lg-4 col-md-4 ml-4 container justify-content-center" href="{{ url_for('sms.chat', username=person.username) }}" role="button">send message</a><br>
      {% endif %}
    </div>

    <!-- ok good -->
    {% if person._id != current_user._id %}
    {% if not (current_user._id is friendEqTo(person.friends)) %}
    {% if not (person._id is friendEqTo(friendme)) and not (person._id is friendEqTo(friendbyme)) %}
    {% if setting.friendRequest != 'noperson' %}
    {% if setting.friendRequest == 'friendof' and current_user._id is globalFriendEqTo(person.friends) %}
    {% else %}
    <form action="/sendfriends" method="post" class="col-lg-8 col-md-4 ml-4 container">
      <input type="text" value="{{ person.username }}" name="username" hidden>
      <button class="btn btn-primary">send a friend request</button>
    </form><br>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}

    <!-- ok good -->
    {% if friender and current_user._id != person._id %}
    <form action="/abortfriends" method="post">
      <input type="text" value="{{ person.username }}" name="username" hidden>
      <button class="btn btn-warning" type="submit">remove a friend request</button>
    </form>
    {% endif %}

    <!-- ok good -->
    {% if current_user._id != person._id and current_user._id is friendEqTo(person.friends) %}
    <form action="/breakfriends" method="post">
      <input type="text" value="{{ person.username }}" name="username" hidden>
      <button class="btn btn-danger" type="submit">break the friendship</button>
    </form>
    {% endif %}

    <!-- ok good -->
    {% if current_user._id == person._id %}
    <div class="row container">
      <br><br>
      <div class="card top-selling overflow-auto">

        <div class="card-body pb-0">
        <h5 class="card-title">friendship Request <span>| All days</span></h5>

        <table class="table table-borderless">
          <tbody>
          {% for fp in friendme %}
            <tr>
              <th scope="row">
                <a href="{{ url_for('profile.public', username=fp.username) }}" class="text-primary">
                  <img src="{{ url_for('profile.upload', filename=fp.img) }}" alt="img" class="rounded-circle" width="35em"> {{ fp.username }}
                </a>
              </th>
              <td><a href="{{ url_for('news.friendresp', sender_id=fp._id, resp='accept') }}">accept</a></td>
              <td><a href="{{ url_for('news.friendresp', sender_id=fp._id, resp='reject') }}">reject</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </div><!-- End Top Selling -->
    
</div>
{% endblock %}
