{% extends 'base.html' %}
<!---->
{% block search %}

{% endblock %}
<!---->
{% block basebody %}
<div class="col-lg-7">

  <div class="card basic">

    {% for new in news %}
    <div class="card-body">
      <div class="card-title">
        <img src="{{ url_for('profile.upload', filename=new.author.img) }}" alt="" width="45em" class="rounded-circle">
        <span><a href="{{ url_for('profile.public', username=new.author.username) }}">{{ new.author.username }}</a> - {{ new.post.publish }}</span>
      </div>
      <div style="width: 100%; overflow-x:auto">{{ new.post.contains|safe }}</div>
      <br>
      <div class="container row">
        <a class="nav-link nav-icon col-2" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-heart"></i>
          <span class="badge bg-success badge-number">3</span>
        </a>
        <a class="nav-link nav-icon col-2" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">{{ new.cmts|length }}</span>
        </a>
      </div><br>
      {% if new.hide.cmtDisable %}
      <span>this user has disabled comments</span>
      {% elif params.postComment == 'onlyme' and current_user._id != new.author._id %}
      <span>only the author is able to comment</span>
      {% elif params.postComment == 'friend' and new.author._id != current_user._id and not (current_user._id is friendEqTo(news.author.friends)) %}
      <span>only friends of the author are allowed to comment</span>
      {% elif params.postComment == 'their' and new.author._id != current_user._id and not (current_user._id is friendEqTo(new.author.friends)) and not (current_user._id is globalFriendEqTo(new.author.friends)) %}
      <span>only friends of the author and their friends are allowed to comment</span>
      {% else %}
      <form action="/comment" method="post">
        <input type="text" name="postref" value="{{ new.post._id }}" hidden>
        <div class="form-floating mb-3">
          <textarea class="form-control" name="contains" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px;"></textarea>
          <label for="floatingTextarea">Comments</label>
        </div>
        <input type="submit" value="send">
      </form>
      <br>
      <!-- Default Accordion -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              All Comments
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse hidden" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% for cmts in new.cmts %}
                <div class="card container">
                  <span class="card-title">
                    <img src="{{ url_for('profile.upload', filename=cmts.auth.img) }}" alt="" width="35em" class="rounded-circle">
                    <span><a href="{{ url_for('profile.public', username=cmts.auth.username) }}">{{ cmts.auth.username }}</a> - {{ cmts.cmt.publish }}</span>
                  </span>
                  <span>
                    {{ cmts.cmt.contains }}
                  </span><br>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div><!-- End Default Accordion Example -->
      {% endif %}
      <br><hr>
  </div>
  {% endfor %}
  </div>
</div>
<div class="col-5">
  <div class="card top-selling overflow-auto">

    <div class="card-body pb-0">
      <h5 class="card-title">friendship Request <span>| All days</span></h5>

      <table class="table table-borderless">
        <tbody>
          {% for fp in friendme %}
          <tr>
            <th scope="row">
              <a href="{{ url_for('profile.public', username=fp.username) }}" class="text-primary">
                <img src="{{ url_for('profile.upload', filename=fp.img) }}" alt="img" class="rounded-circle" width="35em"> {{ fp.username }}
              </a>
            </th>
            <td><a href="{{ url_for('news.friendresp', sender_id=fp._id, resp='accept') }}">accept</a></td>
            <td><a href="{{ url_for('news.friendresp', sender_id=fp._id, resp='reject') }}">reject</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div><!-- End Top Selling -->
{% endblock %}
