{% extends 'base.html' %}
<!---->
{% block search %}
/
{% endblock %}
<!---->
{% block basebody %}
<div class="col-lg-7">

  <div class="card basic">
    {% for post in posts %}
    <div class="card-body">
      <div class="card-title">
        <img src="{{ url_for('static', filename='img/nouser.png') }}" alt="" width="45em" class="rounded-circle">
        <span>Username</span>
      </div>
      <div>{{ post.content }}</div>
      <br>
      <div class="container row">
          <a class="nav-link nav-icon col-2" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-heart"></i>
            <span class="badge bg-success badge-number">3</span>
          </a>
          <a class="nav-link nav-icon col-2" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">7</span>
          </a>
      </div><br>
      <form action="" method="post">
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px;"></textarea>
          <label for="floatingTextarea">Comments</label>
        </div>
        <input type="submit" value="send">
      </form>
      <br>
      <!-- Default Accordion -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              All Comments
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse hidden" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                  <div class="card container">
                    <span class="card-title">
                      <img src="{{ url_for('static', filename='img/nouser.png') }}" alt="" width="35em" class="rounded-circle">
                      <span>Username</span>
                    </span>
                    <span>
                      your messages...
                    </span><br>
                  </div>
            </div>
          </div>
        </div>
      </div><!-- End Default Accordion Example -->
      {% endfor %}
  </div>
</div>
{% endblock %}
