{% extends 'base.html' %}
<!---->
{% block search %}

{% endblock %}
<!---->
{% block basebody %}

<div class="col-lg-7 container justify-content-center">

  <div class="card basic">
    {% for one in my_posts %}
    <div class="card-body">
      <div class="card-title">
        <img src="{{ url_for('profile.upload', filename=current_user.img) }}" alt="" width="45em" class="rounded-circle">
        <span><a href="{{ url_for('profile.public', username=current_user.username) }}">{{ current_user.username }}</a> - {{ one.publish }}</span>
      </div>
      <div class="row">{{ one.content|safe }}</div>
    </div><hr>
    {% endfor %}
  </div>
</div>
{% endblock %}
