{% extends 'base.html' %}
<!---->
{% block search %}

{% endblock %}
<!---->
{% block basebody %}
<div class="card">
  <div class="card-body">
    <form action="/me/new_post" method="post">
      <h5 class="card-title">Post</h5>

      <!-- TinyMCE Editor -->
      <textarea class="tinymce-editor" name="tinymce">
        <p>Hello World!</p>
        <p>This is TinyMCE <strong>full</strong> editor</p>
      </textarea><!-- End TinyMCE Editor --><br><br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
